### Import necessary Libraries

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np
#import geocoder

In [27]:
#request for data from urlk
res = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
#parse data with BeautifulSoup
soup = BeautifulSoup(res.content,'html.parser')
#find data from table
table = soup.find_all('table')[0]
#read data with pandas from table
d = pd.read_html(str(table))[0]
#convert to dataframe
df = pd.DataFrame(d)
#define column
df.columns = ['Postalcode','Brought','Neighbourhood']
#remove row which are 'Not assigned' in Brought column
df1 = df[df.Brought != 'Not assigned']
#Grouping Neighbourhood where Postalcode are same
df2 = df1.groupby(['Postalcode','Brought'])['Neighbourhood'].apply(', '.join).reset_index()
#Replce Neighbourhood's value with Brought's value where are Neighbourhood is 'Not assigned'
df2['Neighbourhood'] = np.where((df2['Neighbourhood'] == 'Not assigned'),df2['Brought'],df2['Neighbourhood'])
#showing sample output
df2.head()

  Postalcode      Brought                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [28]:
#version problem with conda and geocoder thats why download Geospatial_Coordinates csv in local
#read Latitude,Latitude data locally
ll_data = pd.read_csv("E:\Coursera\Coursera_Capstone\Geospatial_Coordinates.csv")

In [29]:
#convert to dataframe
df3 = pd.DataFrame(ll_data)
#define column
df3.columns = ['Postalcode','Latitude','Latitude']
#showing sample output
df3.head()

  Postalcode   Latitude   Latitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [30]:
#merge tow dataframe with Postalcode
df4 = pd.merge(df2, df3,on='Postalcode', how='outer')
#showing sample output
df4.head(12)

,Postalcode,Brought,Neighbourhood,Latitude,Latitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",43.757410,-79.273304
11,M1R,Scarborough,"Maryvale, Wexford",43.750072,-79.295849